<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hiển thị dữ liệu API</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.4.0/css/searchPanes.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <style>
    table.table-striped {
      text-align: center;
    }

    .btn {
      background-color: #FF593E;
      color: aliceblue;
    }

    h3 {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <h3>Thêm mới khuyến mãi</h3>
    <form action="http://localhost:3000/api/createCoupon" method="post" id="addForm" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Tên khuyến mãi</label>
        <input class="form-control" name="coupon_name" required>
        <div class="form-text"></div>
      </div>
     <div class="mb-3">
        <label class="form-label">Image</label>
        <img src="" alt="" class="form-control" id="img-preview" style="height: 100px; width: 100px">
        <input type="file" class="form-control mt-3" id="images" name="images" accept="image/*" multiple required>
      </div>
      <!-- ... Other form fields ... -->

      <button type="submit" class="btn" style="margin: 20px;">Tạo</button>
    </form>
    <div class="m-5 pb-5"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/searchpanes/1.4.0/js/dataTables.searchPanes.min.js"></script>

  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const addForm = document.getElementById("addForm");

    addForm.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(addForm);
      const token = localStorage.getItem("accessToken");
      try {
        const response = await fetch(addForm.action, {
          method: "POST",
          body: formData,
          headers: {
            "Authorization": "Bearer " + token,
          },
        });

        if (response.ok) {
          window.location.href = 'http://localhost:3000/api/admin/coupons';
        } else {
          alert('Lỗi khi nhập thông tin.');
        }

      } catch (error) {
        console.error("Error:", error);
        alert('Lỗi khi thêm khuyến mãi.');
      }
    });

    const fileInput = document.getElementById("images");
    const imgPreview = document.getElementById("img-preview");

    fileInput.addEventListener('change', function () {
      if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          imgPreview.src = e.target.result;
        };

        reader.readAsDataURL(fileInput.files[0]);
      }
    });
  });
  </script>
</body>

</html>
