
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Your Page Title</title>
</head>

<body>

  <div class="container mt-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" id="tab-delivered" data-toggle="tab" href="#table-delivered">Giao hàng thành công</a>
      </li>
   
        <li class="nav-item">
        <a class="nav-link" id="tab-delivered_refund_ordel" data-toggle="tab" href="#tab-delivered_refund_order">Hủy đơn hàng </a>

</li>
 
    </ul>

    <div class="tab-content mt-2">
    
      <div class="tab-pane fade show active" id="table-delivered">
        <table class="table" id="table-delivered">
          <thead>
            <tr>
              <th>STT</th>
              <th class="name-column">Tên</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ</th>
              <th>Giá</th>
              <th>Trạng thái</th>
              <th class="detail-column">Chi tiết</th>
            </tr>
          </thead>
          <tbody>
            <!-- Dữ liệu sẽ được thêm sau khi yêu cầu AJAX được xử lý -->
          </tbody>
        </table>
      </div>
     <div class="tab-pane fade" id="tab-delivered_cancel">
    <table class="table" id="tab-delivered_cancel">
          <thead>
            <tr>
              <th>STT</th>
              <th class="name-column">Tên</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ</th>
              <th>Giá</th>
              <th>Trạng thái</th>
              <th class="detail-column">Chi tiết</th>
            </tr>
          </thead>
          <tbody>
            <!-- Dữ liệu sẽ được thêm sau khi yêu cầu AJAX được xử lý -->
          </tbody>
        </table>
      </div>
        <div class="tab-pane fade" id="tab-delivered_refund_order">
        <table class="table" id="tab-delivered_refund_order">
          <thead>
             <tr>
              <th>STT</th>
              <th class="name-column">Tên</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ</th>
              <th>Giá</th>
              <th>Trạng thái</th>
              <th class="detail-column">Chi tiết</th>
            </tr>
          </thead>
          <tbody>
            <!-- Dữ liệu sẽ được thêm sau khi yêu cầu AJAX được xử lý -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

 <script>
    $(document).ready(function () {
  var statusTableMap = {

    'delivered': '6526a6e6adce6a54f6f67d7d',
    'tab-delivered_cancel': '653bc0a72006e5791beab35b',

    
 
  };

  function updateTables(tables) {
    tables.forEach(function (pair) {
      var tabId = pair.tabId;
      var tableId = pair.tableId;
      updateTable(tabId, tableId);
    });
  }

function updateTable(tabId, tableId) {
    console.log("Cập nhật bảng cho tab:", tabId);
    var currentPath = window.location.pathname;
    var pathArray = currentPath.split('/');
    var shipperId = pathArray[pathArray.length - 1];
    $.ajax({
        url: "http://localhost:3000/api/orders/delivering/"+ shipperId,
        type: "GET",
        success: function (data) {
            console.log("Dữ liệu nhận được:", data);
            var orders = Array.isArray(data) ? data : [];
            $('#' + tableId + ' tbody').empty();
            $.each(orders, function (index, order) {
                console.log("ID status của order:", order.status ? order.status._id : null);
                console.log("tabId:", tabId);
                console.log("statusTableMap[tabId]:", statusTableMap[tabId]);
                if (order.status && order.status._id === statusTableMap[tabId]) {
                    var productName = order.products[0].product_name;
                    var phone = order.address.phoneNumber;
                    var status = order.status.status_name;
                    var address = order.address.addressLine;
                    var total = order.total;

                    var row = '<tr>' +
                        '<td>' + (index + 1) + '</td>' +
                        '<td>' + productName + '</td>' +
                        '<td>' + phone + '</td>' +
                        '<td>' + address + '</td>' +
                        '<td>' + total + '</td>' +
                        '<td>' + status + '</td>';

                    // Xác định nút tương ứng
                    if (tabId === 'confirmed') {
                        row += '<td><button class="btn btn-primary confirm-button" data-order-id="' + order._id + '">Xác nhận</button></td>' +
                            '</tr>';
                    } else {
                       row += '<td><button class="btn btn-primary detail-button" data-order-id="' + order._id + '">Chi tiết</button></td>';
                    }

                    row += '</tr>';

                    $('#' + tableId + ' tbody').append(row);
                } else {
                    console.log("bbbb");
                }
            });
            bindConfirmButton();
        },
        error: function (error) {
            console.log("Lỗi khi truy xuất dữ liệu:", error);
        }
    });
}


function bindConfirmButton() {
    console.log('Binding confirm button click event');
    $('.confirm-button').unbind('click');
    $('.confirm-button').on('click', function () {
        var idorder = $(this).data('order-id');
        console.log('Confirm button clicked for order ID:', idorder);
        confirmOrder(idorder);
    });
}


function confirmOrder(idorder) {
    // Gọi API PATCH khi nhấp vào nút xác nhận
////////////////
 $.ajax({
    url: 'http://localhost:3000/api/order/' + idorder,
    method: 'PATCH',
    data: { status: '65264c102d9b3bb388078976' }, // Thay thế 'new_status_id' bằng ID trạng thái mới thực sự
    dataType: 'json',
    success: function (response) {
      
     console.log('Phản hồi từ API:', response);
  
        updateTable('confirmed', 'tab-confirmed');
        },
    
    error: function (error) {
      // Xử lý lỗi
      console.log('Lỗi:', error);
    }
  });
  
}

$(document).on('click', '.detail-button', function () {
    var idorder = $(this).data('order-id');
    // Chuyển hướng đến trang chi tiết với idorder
    window.location.href = 'http://localhost:3000/api/getByIdOder/' + idorder;
});


  // Sử dụng sự kiện của tab trong Bootstrap
  $('.nav-tabs a').on('shown.bs.tab', function (e) {
    var tabId = $(e.target).attr('id').replace('tab-', '');
    console.log("tabId:", tabId);
    var tableId = 'table-' + tabId;
    updateTable(tabId, tableId);
    if (tabId === 'confirmed') {
      bindConfirmButton();
    }
  });

  // Nạp dữ liệu cho tab đang hoạt động ban đầu
  var tablesToUpdate = [
    { tabId: 'confirmed', tableId: 'tab-confirmed' },
    { tabId: 'pending', tableId: 'table-pending' },
    { tabId: 'confirmed-orders', tableId: 'table-confirmed-orders' },
    { tabId: 'delivered', tableId: 'table-delivered' },
    { tabId: 'tab-delivered_cancel', tableId: 'tab-delivered_refund_order' },
   { tabId: 'tab-delivered_refund_return', tableId: 'tab-delivered_refund' },
  ];

  updateTables(tablesToUpdate);
});
</script>


</body>

</html>
