<div class="row">
     <div class="col">
     <iframe src="http://localhost:3000/api/chartuser" frameborder="0" height="400" width="600"></iframe>
     </div>
          <div class="col">
     <iframe src="http://localhost:3000/api/chartorder" frameborder="0" height="400" width="600"></iframe>
     </div>
     </div>

     <div class="row">

          <div class="col">
     <iframe src="http://localhost:3000/api/linegraph" frameborder="0" height="400" width="600"></iframe>
     </div>
          <div class="col">
     <iframe src="http://localhost:3000/api/getorderpie" frameborder="0" height="600" width="600"></iframe>
     </div>
     </div>
     <div class="row">
     <iframe src="http://localhost:3000/api/sortedbyview" frameborder="0" height="400" width="600"></iframe>
     </div>
